input[type=text]{
 width: 20%;
 padding: 10px 12px;
 margin: 18px 6px;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 5px;
 box-sizing: border-box;
}

input[type=radio]{
margin:10px 20px
}
input[type=password]{
width: 20%;
padding: 10px 12px;
margin: 10px 5px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}

input[type=submit]{
width: 10%;
padding: 10px 12px;
margin: 40px 450px;
border: 1px solid #ccc;
border-radius: 5px;
}
/* div .info{
height: 750px;
width: 1000px;
margin:50px 250px;
background-color: black;
border:5px solid white;
border-radius:15px;
color:white;
} */
body {
margin: 0;
background: #222;
font-family: 'Work Sans', sans-serif;
font-weight: 800;
}

h1{
font-size: 60px;
color: white;
text-align: center;
}
p.cc{
position: relative;
left: 160px;
bottom: 20px;
font-size: 14px;
}
p.para{
position: relative;
left: 10px;
font-weight: bold;
font-size: 20px;
}
.container {
	width: 50%;
	margin: 0 auto;
}

header {
  height: 60px;
  background: #368BC1;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  max-width: 100px;
  padding-top: 2px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 135px;
  padding-top: -30px;

  position: relative;
}
#signin{
  display: inline-block;
  margin-right: 30px;
  padding-top: 5px;

  position: relative;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #FFf;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
